*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(15, 14, 20) !important;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

div.col-12 {
  padding-left: 0 !important;
  margin: 0px !important;
}
/*
div .col- .col-sm .col-md .col-lg .col-x .col-12 {
  margin: 0 !important;
  padding: 0 !important;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

/*----Header Session/NavBar----*/
#header.container {
  background-color: rgb(15, 14, 20);
  /*
  border: 0;
  margin: 0px;
  */
}

header li {
  display: inline;
  text-align: center;
  opacity: 0.75;
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  margin-left: 7px;
  font-family: "poppins";
}

ul #nav-menu {
  margin-left: 5px;
}
header #nav li a {
  list-style: none;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: "poppins";
}

a {
  text-decoration: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

nav#nav.navbar {
  color: #f2f2f2;
  text-decoration: none;
  padding-top: 10px;
  margin: 0;
}

div.header-headings {
  text-align: center;
}
header .first-heading {
  padding-left: 20px;
  font-weight: 800;
  font-size: 35px;
  color: rgb(242, 242, 242);
  display: inline-block;
  margin-top: 50px;
  line-height: 0.8;
  font-family: "poppins";
  -ms-high-contrast-adjust: initial;
}

.subheading {
  color: rgb(165, 69, 31);

  font-weight: 600;
  font-size: 20px;
  padding: 5px 0 5px 50px;
  display: flex;
  font-family: "poppins";
}
/*
#carousel-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
*/
img .d-block .w-100 {
  padding-left: 0;
  padding-top: 0;
  height: 70%;
}

/*----Caroulsel Pictures----*/
#container-pictures {
  height: 70%;
  width: 100%;
  /*
  overflow: hidden;
  line-height: 1;
  background-position: 100%;
  */
}

.carousel-inner {
  transform-style: preserve-3d;
}

img #img {
  position: relative;
  text-align: center;
  width: 70%;
  /*height: 70%;
   width: max-content;
 height: 855px;*/
}

img #image .two {
  text-align: center;
  position: relative;
  height: 100vh;
}

#text {
  text-align: center;
}

#caroulsel-heading {
  opacity: 1;
  font-family: "poppins";
  font-size: 60px;
  font-weight: 1000;
  display: inline;
  padding-bottom: 50px;
  margin: 0 auto;
}

#caroulsel-heading h2 {
  color: rgb(242, 242, 242);
  padding: 50px;
  font-family: "poppins";
}

span {
  color: rgb(165, 69, 31);
}

/*-----------------------------------------
ABOUT Session----------------------------------
---------------------------------------------*/
.container-about {
  background-color: rgb(180, 167, 167);
  margin: 0px auto;
  margin-top: 20px;
  text-align: center;
}

div #about-img {
  background-image: url("../Img/nikita-kachanovsky-bLY5JqP_Ldw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
}

#content-about {
  background-color: rgb(180, 167, 167);
  display: inline;
}

div #content-about h2 {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 700;
  font-size: 42px;
  color: rgb(165, 69, 31);
  padding: 30px 0px 20px 0px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

div #content-about p {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 500;
  font-size: 25px;
  color: rgb(26, 26, 26, 0.7);
  padding: 10px;
  margin: 0px 5px;
  display: grid;
  text-align: left;
  padding-left: 20px;
}

/*----Content Session----*/

div #do-img {
  background-image: url("../Img/joel-wyncott-6_OoBGfQOfY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
}

#content-do-it {
  background-color: rgb(180, 167, 167);
}

.container-do-it {
  background-color: rgb(180, 167, 167);
  margin: 0px auto;
  margin-top: 20px;
}

div #content-do-it h2 {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 700;
  font-size: 42px;
  color: rgb(165, 69, 31);
  padding: 30px 0px 20px 0px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  text-align: center;
}
#content-about {
  text-align: center;
}

div #content-do-it p {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 500;
  font-size: 25px;
  color: rgb(26, 26, 26, 0.7);
  padding: 10px;
  margin: 0px 5px;
  display: grid;
  text-align: left;
  padding-left: 20px;
}

#p-do-it {
  background-color: rgb(180, 167, 167);
  padding-left: 70px;
  font-weight: 600;
}

/*----Service Session----*/
div #services-img {
  background-image: url("../Img/charles-deluvio-Lks7vei-eAg-unsplash.jpg");
  width: 50vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content-services {
  background-color: rgb(180, 167, 167);
}

.container-services {
  background-color: rgb(180, 167, 167);
  margin: 0px auto;
  margin-top: 20px;
}

div #content-services h2 {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 700;
  font-size: 42px;
  color: rgb(165, 69, 31);
  padding: 30px 0px 20px 0px;
  margin: 0 auto;
  display: grid;
  text-align: center;
}

div #content-services p {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 500;
  font-size: 25px;
  color: rgb(26, 26, 26, 0.7);
  padding: 10px 0px 0px 0px;
  margin: 0 5px;
  padding-left: 20px;
  display: grid;
  text-align: left;
}
div #content-services li {
  background-color: rgb(180, 167, 167);
  padding: 5px;
  padding-left: 20px;
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
  font-size: 18px;
  font-weight: 700;
  color: rgba(238, 230, 230, 0.7);
}
/*----Button--------*/
a #btn .btn {
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
 
  justify-content: center;
  
  width: 30px;
  height: 50px;
}

#btn {
  color: rgba(238, 230, 230, 0.7);
  background-color: rgb(26, 26, 26, 0.7);
  font-family: "poppins";
  background-color: rgb(165, 69, 31);
  padding-left: 20px;
  justify-content: center;
}
}
/*----Footer Session----*/
footer {
  background-color: rgb(15, 14, 20);
  color: whitesmoke;
  display: grid;
  font-family: "poppins";
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 15vh;
  padding: 10px;
  border: 0;
  margin: 0;
}

.heading-footer {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 800;
  display: inline;
  margin-left: 10px;
  padding-top: 30px;
}
.subheading-footer {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 800;
  display: inline;
  margin-left: 10px;
  padding-top: 30px;
}

footer .icons-projects {
  padding: 5px 0px;

  display: inline;

}

.email {
  padding-top: 30px;
  display: -ms-inline-grid;
  justify-content: flex-start;
}
/*
.footer  {
  color: whitesmoke;
  font-family: "poppins";
  font-size: 10px;
  font-weight: 200;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
}
*/
i {
  height: 10vh;
  opacity: 0.9;
  color: whitesmoke;
  align-items: center;

  margin-left: 20px;
}

.icons {
  display: inline-block;
  justify-content: left;
}

.icons :hover {
  color: red;
}

/*CSS BLOG PAGE */
div #blog-img {
  background-image: url("../Img/charles-deluvio-Lks7vei-eAg-unsplash.jpg");
  /*width: 20vw;*/
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-session {
  background-color: rgb(180, 167, 167);
}

#content-blog .container-blog {
  background-color: rgb(180, 167, 167);
  margin: 0px auto;
  margin-top: 20px;
}

div #content-blog h2 {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 700;
  font-size: 42px;
  color: rgb(165, 69, 31);
  padding: 30px;
  margin: 0 auto;
  display: grid;
  text-align: center;
}
#date-author  {
  font-size: 10px;
  color: rgb(26, 26, 26, 0.9);
  padding: 15px;
  margin: 0px 20px;
  display: grid;
  text-align: left;
}


div #content-blog p {
  background-color: rgb(180, 167, 167);
  font-family: "poppins";
  font-weight: 500;
  font-size: 25px;
  color: rgb(26, 26, 26, 0.7);
  padding: 10px;
  margin: 0px 20px;
  /*display: grid;*/
  text-align: left;
}

#blog-img h2 {
  opacity: 1;
  font-family: "poppins";
  font-size: 60px;
  font-weight: 1000;
  display: inline;
  /*margin: 0 auto; */
  margin-top: 40px;
  color: rgb(242, 242, 242);
  padding: 0px;
}

.blog-heading h2 {
  display: inline;
  align-content: center;
  margin: 50px;
  padding: 40px;
}

span {
  color: rgb(165, 69, 31);
}
